*{
	margin: 0;
	padding: 0;
}
body{
	background: #009688;
	color: white;
}
input, select, label{
	margin-bottom: 10px;
}
form{
	width: 200px;
	border: 1px solid #ccc;
	padding: 10px 20px;
	margin: 10px 20px;
}
.b {
	clear: both;
	padding: 10px 20px;
	margin: 10px 20px;
}
.c {
	font-size: 15px;
	display: block;
	width: 100%;
}